---
Checks: '-*,
         google-build-namespaces,
         google-readability-namespace-comments,
         modernize-avoid-bind,
         modernize-make-shared,
         modernize-make-unique,
         modernize-redundant-void-arg,
         modernize-replace-auto-ptr,
         modernize-replace-random-shuffle,
         modernize-shrink-to-fit,
         modernize-use-bool-literals,
         modernize-use-emplace,
         modernize-use-noexcept,
         modernize-use-nullptr,
         modernize-use-transparent-functors'
HeaderFilterRegex: 'base/win/*'
...
